obj/dotnet-api-project.csproj.nuget.dgspec.json
obj/dotnet-api-project.csproj.nuget.g.props
obj/dotnet-api-project.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/dotnet-api-project.AssemblyInfo.cs
obj/Debug/net8.0/dotnet-api-project.AssemblyInfoInputs.cache
obj/Debug/net8.0/dotnet-api-project.assets.cache
obj/Debug/net8.0/dotnet-api-project.csproj.AssemblyReference.cache
obj/Debug/net8.0/dotnet-api-project.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/dotnet-api-project.csproj.FileListAbsolute.txt
obj/Debug/net8.0/dotnet-api-project.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/dotnet-api-project.GlobalUsings.g.cs
obj/Debug/net8.0/dotnet-api-project.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net8.0/dotnet-api-project.MvcApplicationPartsAssemblyInfo.cs
.vscode/launch.json
.vscode/tasks.json
